/*search form style */
/* Style the search field */
body {
  background-color: #f9f9f9;
}

#search-content {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.left-side-nav-content {
  padding-block: 5px;
}

.right-side-nav-content li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  #search-content {
    display: inline-block !important;
    width: 50% !important;
  }
  .microphone {
    display: none !important;
  }
  #back-arrow {
    visibility: hidden !important;
  }
  .nav-items {
    display: inline-block !important;
  }
  .right-side-nav-content #open-search {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  #search-content {
    display: none;
    margin-block: 6px;
  }
  .microphone {
    visibility: hidden !important;
  }
}